.nav{
    z-index: 3;
    position: relative;
    &:before{
        content: '';
        position: absolute;
        max-width: 320px;
        width: 100%;
        max-height: 158px;
        height: 100%;
        right: 1540px;
        background: url('../img/header__spread-2.png') center 0/auto no-repeat;
        z-index: -1;
    }
    &:after{
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: url('../img/header__spread-logo.png') 168px 0/auto no-repeat;
        z-index: -2;
        @media(max-width: 1440px){
            background-position-x: -5%;
            background-size: 500px;
        }
        @media(max-width: 1024px){
            background-position-x: -120px;
            background-size: 500px;
        }
    }
}

.nav__inner{
    z-index: 3;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 40px 0 132px 0;
    font-size: 18px;
    line-height: 22px;
    @media(max-width: 1024px){
        padding-bottom: 60px;
    }
}

.nav__logo{
    z-index: 3;
}

.nav__burger{
    display: none;
    z-index: 3;
}

.nav__list{
    display: flex;
    align-items: center;
    z-index: 3;
}

.nav__list-item{
    margin-right: 54px;

    &:last-child{
        margin-right: 0;
    }

    a{
        color: #3C4852;
    }
}

.nav__list-i{
    display: flex;
    align-items: center;
    font-weight: 700;

    &:first-child{
        p{
            margin-left: 14px;
        }
    }

    &:last-child{
        svg{
            margin-left: 14px;
        }
    }
}

.nav__list-link{
    transition: all 0.3s ease 0s;
    svg{
        path{
            transition: all 0.3s ease 0s;
        }
    }
    &:hover{
        color: rgba(#3C4852, 0.6);
        svg{
            path{
                fill: rgba(#FFCC80, 0.6);
            }
        }
    }
}

.nav__list-btn{
    background: #FFCC80;
    border-radius: 10px;
    padding: 18px 24px 18px 32px;
    transition: all 0.3s ease 0s;
    svg{
        transition: all 0.5s ease 0s;
        path{
            transition: all 0.3s ease 0s;
        }
    }
    &:hover{
        color: #fff;
        background: #3C4852;
        svg{
            margin-left: 5px;
            margin-right: 9px;
            path{
                fill: #fff;
            }
        }
    }
}

@media(max-width: 768px){
    .nav__burger{
        display: block;
        position: relative;
        width: 51px;
        height: 20px;
        cursor: pointer;
        transition: all 0.3s ease 0s;
        &::before, &::after{
            content: '';
            position: absolute;
            background-color: #3C4852;
            height: 2px;
            width: 100%;
            left: 0;
            transition: all 0.3s ease 0s;
        }

        &::before{
            top: 0;
        }

        &::after{
            bottom: 0;
        }

        span{
            transition: all 0.3s ease 0s;
            position: absolute;
            background-color: #FFCC80;
            height: 2px;
            width: 100%;
            left: 0;
            top: 9px;
        }

        &-active{
            span{
                width: 0%;
            }

            &::before{
                top: 9px;
                transform: rotate(45deg);
            }
    
            &::after{
                bottom: 9px;
                transform: rotate(-45deg);
            }
    
        }
    }

    .nav__list{
        display: none;
    }
}

.menu{
    transition: all 0.3s;
    position: fixed;
    z-index: 10;
    overflow: hidden;
    top: 140px;
    left: 0;
    width: 100%;
    height: 0%;
    background: #fff;

    &-active{
        height: 100%;
    }
}

.menu__list{
    margin-top: 50px;
    display: block !important;
    flex-direction: column;
    align-items: flex-start !important;
    justify-content: flex-start;
    text-align: left;
    li{
        margin: 0;
        margin-bottom: 40px;
    }
}

.menu__list-link{
    svg{
        margin: 0 !important; 
    }
}