.orders__item{
    padding: 21px 35px 21px 45px;
    color: #3C4852;

    &-search{
        .orders__item-status{
            color: #E1B26C;
        }
    }

    &-cancel{
        .orders__item-title{
            color: #EC5760;
        }

        .orders__item-status{
            color: #EC5760;
        }
    }

    &-done{
        .orders__item-title{
            color: #66B87A;
        }
    }
}

.orders__item-subtitle{
    font-weight: 500;
    font-size: 17px;
}

.orders__item-status{
    font-size: 18px;  
}

.orders__item-col{
    flex-wrap: wrap;
}

.orders__item-cost{
    font-size: 18px;
    line-height: 24px;
    font-weight: 700;
    color: #66B87A;
    text-align: right;
    margin-left: 20px;

    span{
        color: #3C4852;
        font-weight: 400;
    }
}

.orders__item-executor{
    margin-top: 8px;
    font-weight: 500;
    font-size: 17px;
    line-height: 24px;
    color: #8E8D8D;
    margin-left: 20px;
}