.title{
    display: flex;
    justify-content: center;
    font-weight: 700;
    font-size: 60px;
    line-height: 72px;
    position: relative;

    &::after{
        content: '';
        top: 96px;
        position: absolute;
        width: 74px;
        height: 6px;
        border-radius: 11px;
        background: #FFCC80;
    }

    @media(max-width: 768px){
        font-size: 36px;
        line-height: 48px;
        &::after{
            top: 60px;
        }
    }

    @media(max-width: 480px){
        font-size: 22px;
        line-height: 28px;
        &::after{
            top: 50px;
        }
    }
}