@font-face{
    font-family: "Panton";
    src : url("../fonts/Panton.otf");
    font-weight: 400;
}
@font-face{
    font-family: "Panton";
    src : url("../fonts/Panton Bold.otf");
    font-weight: 700;
}
@font-face{
    font-family: "Panton";
    src : url("../fonts/Panton SemiBold.otf");
    font-weight: 500;
}
@font-face{
    font-family: "Panton";
    src : url("../fonts/Panton Light.otf");
    font-weight: 300;
}
@font-face{
    font-family: "Panton";
    src : url("../fonts/Panton ExtraLight.otf");
    font-weight: 200;
}
@font-face{
    font-family: "Panton";
    src : url("../fonts/Panton Black.otf");
    font-weight: 800;
}
@font-face{
    font-family: "Panton";
    src : url("../fonts/Panton Heavy.otf");
    font-weight: 900;
}
